@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Bg */
  --bg-background: rgb(244, 188, 205);
  --bg-background-gradient-light: linear-gradient(
    45deg,
    rgba(244, 188, 205, 1) 0%,
    rgba(232, 203, 245, 1) 50%,
    rgba(175, 184, 255, 1) 100%
  );

  --bg-background-gradient-dark: linear-gradient(
    45deg,
    #f4bccd 0%,
    #a592ad 50%,
    #afb8ff 100%
  );

  /* Card  */
  --card-background-light: rgba(255, 255, 255, 0.6);
  --card-background-dark: rgba(0, 0, 0, 0.6);

  /* Text */
  --text-primary-color-light: #000;
  --text-primary-color-dark: #fff;

  --text-secondary-color-light: #4d4d4d;
  --text-secondary-color-dark: #d2d2d2;

  /* Button */
  --btn-background-light: #c1c1c1;
  --btn-background-dark: #1c1c1c;

  --btn-background-light-hover: #b1b1b1;
  --btn-background-dark-hover: #2c2c2c;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

html {
  font-size: 10px; /* 1rem = 10px */
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
}

#bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-light {
  background: var(--bg-background);
  background: var(--bg-background-gradient-light);
}

.bg-dark {
  background: var(--bg-background);
  background: var(--bg-background-gradient-dark);
}

#toggle {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;

  padding: 0;
  border: 0;
  background: 0;

  cursor: pointer;

  right: 1.2rem;
  top: 1.2rem;
}

.toggle-light::after {
  content: url("../icons/moon.svg");
}

.toggle-dark::after {
  content: url("../icons/sun.svg");
}

#card {
  width: 30rem;
  height: 40rem;
  padding-inline: 2.8rem;

  border-radius: 2.5rem;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-light {
  background: var(--card-background-light);
}

.card-dark {
  background: var(--card-background-dark);
}

.halo {
  width: 13rem;
  height: 13rem;

  background: url("../images/halo.svg");
}

.profile {
  /* cneter the profile in halo */
  margin: 1rem;

  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.text {
  text-align: center;
  letter-spacing: 0.01em;
  font-feature-settings: "pnum" on, "lnum" on;
}

#title {
  margin-block-start: 2.4rem;
  margin-block-end: 0.8rem;

  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2rem;
}

#subtitle {
  margin-block-end: 1.5rem;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

#about {
  margin-block-end: 2.9rem;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.text-primary-light {
  color: var(--text-primary-color-light);
}

.text-primary-dark {
  color: var(--text-primary-color-dark);
}

.text-secondary-light {
  color: var(--text-secondary-color-light);
}

.text-secondary-dark {
  color: var(--text-secondary-color-dark);
}

#btn-container {
  display: flex;
  gap: 0.8rem;
}

.btn {
  width: 3.2rem;
  height: 3.2rem;

  padding: 0.6rem;

  border-radius: 1rem;
  border: 0;
}

.btn-light {
  background: var(--btn-background-light);
}

.btn-dark {
  background: var(--btn-background-dark);
}

.btn-light:hover {
  background: var(--btn-background-light-hover);
}

.btn-dark:hover {
  background: var(--btn-background-dark-hover);
}

.icon-light {
  filter: invert(0);
}

.icon-dark {
  filter: invert(100%);
}
